﻿@model Safety.Models.RegisterViewModel
@{
//ViewBag.Title = "Register";
}

<div class="row">

    <div class="col-lg-12">
        <div class="card-box">
        </div>
        <div class="card-box">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
          {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
<label class="col-md-2 control-label">اسم المدير</label>   
<div class="col-md-10">
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
</div>
        <div class="form-group">
            <label class="col-md-2 control-label">البريد الالكترونى </label>     
            <div class="col-md-10">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            </div>
            <div class="form-group">
<label class="col-md-2 control-label">اسم المستخدم</label>     
                <div class="col-md-10">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
                </div>
            <div class="form-group">
<label class="col-md-2 control-label"> كلمه السر</label>  
                <div class="col-md-10">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
                </div>
            <div class="form-group">
<label class="col-md-2 control-label">تاكيد كلمه السر </label>            <div class="col-md-10">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
                </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="حفظ" />
                </div>
            </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }

        </div>
</div>
</div>

           
</div>
