﻿
@model IEnumerable<Safety.VM.VM.InPutVM>
@{
    Layout = null;
}

@if (Model != null)
{
    if (User.IsInRole("Admin"))
    {

        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive">
                    <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                        <thead style="background-color:#3bafda;color:white;">
                            <tr>
                                <th>رقم العملية</th>
                                <th> اسم العميل </th>
                                <th>رقم الحساب </th>
                                <th>تاريخ العملية  </th>
                                <th>المبلغ  </th>


                                @*<th></th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TransNumber</td>
                                    <td>@item.ClientName</td>
                                    <td>@item.AccountName</td>
                                    <td>@item.TransDate</td>
                                    <td>@item.ClientDeposit</td>


                                    @*<td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>*@

                                    <td>
                                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id,@item.AccountID,@item.ClientDeposit,@item.TransActionCase)">  <i class="ti-trash"></i></button>

                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




