﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="100%" data-width="5" data-fontsize="14" data-percent="100" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
            <h3 class="text-success counter m-t-10">@ViewBag.AllCounts</h3>
            <p class="text-muted text-nowrap m-b-10">عدد الحركات </p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="" data-width="5" data-fontsize="14" data-percent="@ViewBag.DepositeCountPrec" data-fgcolor="#3bafda" data-bgcolor="#ebeff2"></div>
            <h3 class="text-primary counter m-t-10">@ViewBag.DepositeCount</h3>
            <p class="text-muted text-nowrap m-b-10">حركات الايداع</p>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="" data-width="5" data-fontsize="14" data-percent="@ViewBag.WithdrawCountPrec" data-fgcolor="#f76397" data-bgcolor="#ebeff2"></div>
            <h3 class="text-pink m-t-10"><span class="counter">@ViewBag.WithdrawCount</span></h3>
            <p class="text-muted text-nowrap m-b-10">حركات السحب</p>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-right card-box">
            <div class="circliful-chart" data-dimension="90" data-text="" data-width="5" data-fontsize="14" data-percent="@ViewBag.TransactionCountPrec" data-fgcolor="#98a6ad" data-bgcolor="#ebeff2"></div>
            <h3 class="text-inverse counter m-t-10">@ViewBag.TransactionCount</h3>
            <p class="text-muted text-nowrap m-b-10">حركات التحويل</p>
        </div>
    </div>
</div>

<div class="row">
    @Html.Action("LastFiveAction")


    @*<div class="col-lg-4">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0 m-b-30">حجم الحركات الاخيرة لاخر 10 يوم</h4>

            <div class="widget-chart text-center">
                <div id="sparkline1"></div>
                <ul class="list-inline m-t-15 mb-0">
                    <li>
                        <h5 class="text-muted m-t-20"> السحب <span style="color:red;">&#9679;</span></h5>
                        <h4 class="m-b-0">@ViewBag.WithdrawTotalVol </h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20"> الايداع <span style="color:green;">&#9679;</span></h5>
                        <h4 class="m-b-0">@ViewBag.DepositeTotalVol</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20"> التحويل <span style="color:blue;">&#9679;</span></h5>
                        <h4 class="m-b-0">@ViewBag.TransTotalVol</h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>*@




    @*<div class="col-lg-8">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0">اخر 5 عمليات</h4>

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>رقم العملية</th>
                            <th>نوع العملية</th>
                            <th>المبلغ</th>
                            <th>التاريخ</th>
                            <th>الرسوم</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GetLast5_Result item in ViewBag.GetLast5)
                        {
                            <tr>
                                <td>@item.TransNumber</td>
                                <td>
                                    @(item.type == 0 ? Html.Raw("<span class='badge badge-success'>ايداع</span>") : item.type == 1 ? Html.Raw("<span class='badge badge-pink'>سحب</span>") : Html.Raw("<span class='badge badge-warning'>تحويل</span>"))
                                </td>
                                <td>@item.Amount</td>
                                <td>@item.TransDate</td>
                                <td>@item.Fee</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
    <!-- end col -8 -->



</div>

<script>
    $(document).ready(function () {

    var DrawSparkline = function () {

        $('#sparkline1').sparkline([@ViewBag.WithdrawVol], {
            type: 'line',
            width: '100%',
            height: '200',
            chartRangeMax: @ViewBag.MaxVol,
            lineColor: '#ff0000',
            fillColor: 'rgba(255, 2, 2, 0.3)',
            highlightLineColor: 'rgba(0,0,0,.1)',
            highlightSpotColor: 'rgba(0,0,0,.2)'
        });

        $('#sparkline1').sparkline([@ViewBag.TransVol], {
            type: 'line',
            width: '100%',
            height: '200',
            chartRangeMax: @ViewBag.MaxVol,
            lineColor: '#3bafda',
            fillColor: 'rgba(59,175,218,0.3)',
            composite: true,
            highlightLineColor: 'rgba(0,0,0,.1)',
            highlightSpotColor: 'rgba(0,0,0,.2)'
        });

        $('#sparkline1').sparkline([@ViewBag.DepositeVol], {
            type: 'line',
            width: '100%',
            height: '200',
            chartRangeMax: @ViewBag.MaxVol ,
            lineColor: '#00b19d',
            fillColor: 'rgba(0, 177, 157, 0.3)',
            composite: true,
            highlightLineColor: 'rgba(0,0,0,.1)',
            highlightSpotColor: 'rgba(0,0,0,.2)'
        });

    };


    DrawSparkline();

    var resizeChart;

    $(window).resize(function (e) {
        clearTimeout(resizeChart);
        resizeChart = setTimeout(function () {
            DrawSparkline();
        }, 300);
    });
}) ;
</script>