﻿
@model Safety.VM.VM.InPutFM



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "Input", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);

        <div class="form-group row">
            <label class="col-2 col-form-label">رقم العملية</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.TransNumber, new { @class = "form-control", @readonly=true, oninvalid = "this.setCustomValidity('من فضلك ادخل هنا')", oninput = "setCustomValidity('')", required = "required" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">اسم العميل  </label>

            <div class="col-10">
                @Html.DropDownListFor(x => Model.ClientId, (List<SelectListItem>)ViewBag.ClientList, new
           {
               @class = "form-control select2",
               @onchange = "GetAccount(this.value)"

           })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">نوع الحساب </label>

            <div class="col-10">
                @Html.DropDownListFor(x => Model.AccountID, (List<SelectListItem>)ViewBag.AccountList, new
        {
            @class = "form-control select2"

        })
            </div>
        </div>



        <div class="form-group row">
            <label class="col-2 col-form-label">المبلغ </label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.ClientDeposit, new { @class = "form-control", oninvalid = "this.setCustomValidity('من فضلك ادخل هنا')", oninput = "setCustomValidity('')", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الرسوم </label>
            <div class="col-10">
<input type="text" readonly value="10" name="Fee" id="Fee"  class="form-control"/> 
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-2 col-form-label">ملاحظات</label>
            <div class="col-10">
                @Html.TextAreaFor(i => i.Note, new { @class = "form-control", rows = "5" })
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","Input")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>



@section Scripts{

    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true   ,
            dir: "rtl",
        });



    </script>
    <script type="text/javascript">

        function GetAccount(ClientId) {
            ClientId = ClientId ? ClientId : 0;

            $.ajax
                ({
                    url: '/Input/GetAccount',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: ClientId
                    }),
                    success: function (result) {
                       
                        $("#AccountID").html("");
                        $.each((result), function (i, edu) {

                            $("#AccountID").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }
    </script>
}
