﻿@model Safety.VM.VM.InPutFM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["success"])
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title">  كشف حساب </h4>

                    <a id="AddNew" href="@Url.Action("Create","Input")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" style="float: left;">        تنزيل التقرير   </a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div class="form-group row">
                                <label class="col-2 col-form-label">اسم العميل  </label>

                                <div class="col-10">
                                    @Html.DropDownListFor(x => Model.ClientId, (List<SelectListItem>)ViewBag.ClientList, new
                                    {
                                        @class = "form-control select2",
                                        @onchange = "GetAccount(this.value)",
                                        @required = "required"

                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">نوع الحساب </label>

                                <div class="col-10">
                                    @Html.DropDownListFor(x => Model.AccountID, (List<SelectListItem>)ViewBag.AccountList, new
                                    {
                                        @class = "form-control select2",
                                        @required = "required"

                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-5">
                                    <div class="col-10">
                                        <label class="col-2 col-form-label">من</label>

                                        <input type="text" id="StartDate" name="EndDate" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="col-10">
                                        <label class="col-2 col-form-label">الى</label>

                                        <input type="text" id="EndDate" name="EndDate" class="form-control" required />

                                    </div>

                                </div>
                                <div class="col-2">
                                    <div class="col-10">
                                        <label class="col-2 col-form-label"></label>
                                        <button id="AddNew" onclick="GetReport()" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">بحث</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">

                                <div id="SearchResult">
                                    @Html.Action("AccountStatementSearch")
                                </div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>
@section scripts {
    @*<script src="~/AjaxJS/Input.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                Input.init();

            })

        </script>*@
    <script>
        $(function () {
            $("#StartDate").datepicker().datepicker("setDate", new Date());
            $("#EndDate").datepicker().datepicker("setDate", new Date());

        });
    </script>
    <script type="text/javascript">

        function GetAccount(ClientId) {
            ClientId = ClientId ? ClientId : 0;

            $.ajax
                ({
                    url: '/Input/GetAccount',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: ClientId
                    }),
                    success: function (result) {

                        $("#AccountID").html("");
                        $.each((result), function (i, edu) {

                            $("#AccountID").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }
    </script>

    <script>
        function GetReport() {
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            var AccountId = $("#AccountID").val();
            $.ajax
                ({
                    url: '/Report/AccountStatementSearch?AccountId=' + AccountId + "&StartDate=" + StartDate + "&EndDate=" + EndDate,
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',

                    success: function (result) {
                        $("#SearchResult").html(result);
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }
    </script>
}

