﻿
@model IEnumerable<Safety.VM.VM.InPutVM>
    @{ 
        Layout = null;
    }

@if (Model != null)
{


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table style="font-size:large">
                <tr>
                    <td>اسم العميل: </td>
                    <td>@ViewBag.ClientName</td>
                </tr>
                <tr>
                    <td> نوع الحساب: </td>
                    <td>@ViewBag.AccountType</td>
                </tr>
                <tr>
                    <td>الرصيد الحالى: </td>
                    <td>@ViewBag.CurrentAmount</td>
                </tr>
            </table>
            <br />
            <br />

            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>نوع العملية</th>
                        <th>رقم العملية</th>
                        <th> اسم العميل </th>
                        <th>رقم الحساب </th>
                        <th>تاريخ العملية  </th>
                        <th>المبلغ  </th>




                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                <tr>
                    @if (item.TransActionCase == 1)
            {
                <td>ايداع</td>
    }
    else
    {
        <td>سحب</td>
}

                    <td>@item.TransNumber</td>
                    <td>@item.ClientName</td>
                    <td>@item.AccountName</td>
                    <td>@item.TransDate</td>
                    <td>@item.ClientDeposit</td>






                </tr>
    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
}
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




