﻿
@model Safety.VM.VM.BankingVM
    @{ 
        Layout = null;
    }

@if (Model != null)
{


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <p style="color:blue; font-size:40px;">الارباح  </p>

            <table class="table table-hover table-bordered " style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th> عدد العمليات</th>
                        <th>  اجمالى الربح </th>


                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Model.Count</td>
                        <td>@Model.Fee</td>



                        @*<td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>*@



                    </tr>

                </tbody>
            </table>
        </div>
        </div>
    </div>
}
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




