﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["success"])
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title">  تقارير الارباح </h4>

                    <a id="AddNew" onclick="ReportDownload()" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" style="float: left;">        تنزيل التقرير    </a>

                    <br />
                    <br />
                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                <div id="SearchTableContainer"></div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>
@section scripts {
    <script src="~/AjaxJS/BankInCome.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            BankInCome.init();

        })



        function ReportDownload() {
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            $.ajax
                ({
                    url: '/Report/BankIncomeReport?StartDate=' + StartDate + "&EndDate=" + EndDate,
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',

                    success: function (result) {
                        //$("#SearchResult").html(result);
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }

    </script>
}

