﻿
@model IEnumerable<Safety.VM.VM.AccountsVM>
    @{ 
        Layout = null;
    }

@if (Model != null)
{


<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <p style="color:blue; font-size:40px;">ارصدات الحسابات </p>

            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>رقم الحساب</th>
                        <th>نوع الحساب </th>
                        <th>اسم العميل </th>
                        <th>المبلغ  </th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AccountNo</td>
                    <td>@item.AccountTypeName</td>
                    <td>@item.ClientName</td>
                    <td>@item.CurrentAmount</td>





                </tr>
    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
}
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




