﻿
@model Safety.VM.VM.RoleVM



@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "RoleGroup", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {

        <div class="form-group row">
            <label class="col-2 col-form-label">اسم الصلاحية</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Name, new { @class = "form-control", required = "required" })
            </div>
        </div>
      
        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","RoleGroup")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>


