﻿
@model Safety.VM.VM.TransActionFM



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "TransAction", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {

        <div class="form-group row">
            <label class="col-2 col-form-label">رقم العملية</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.TransCode, new { @class = "form-control", oninvalid = "this.setCustomValidity('من فضلك ادخل هنا')", oninput = "setCustomValidity('')", required = "required" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">من العميل</label>

            <div class="col-10">
                @Html.DropDownListFor(x => Model.ClientFromID, (List<SelectListItem>)ViewBag.ClientList, new
                {
                    @class = "form-control select2",
                    @onchange = "GetAccount1(this.value)"

                })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">من الحساب </label>

            <div class="col-10">
                @Html.DropDownListFor(x => Model.FromAccountID, (List<SelectListItem>)ViewBag.AccountList, new
                {
                    @class = "form-control select2"

                })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">الى العميل</label>

            <div class="col-10">
                @Html.DropDownListFor(x => Model.ClienttoID, (List<SelectListItem>)ViewBag.ClientList, new
                {
                    @class = "form-control select2",
                    @onchange = "GetAccount2(this.value)"

                })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">من الحساب </label>

            <div class="col-10">
                @Html.DropDownListFor(x => Model.ToAccountID, (List<SelectListItem>)ViewBag.AccountList, new
                {
                    @class = "form-control select2"

                })
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">المبلغ </label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Amount, new { @class = "form-control", oninvalid = "this.setCustomValidity('من فضلك ادخل هنا')", oninput = "setCustomValidity('')", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الرسوم </label>
            <div class="col-10">
                <input type="text" readonly value="10" name="Fee" id="Fee" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">ملاحظات</label>
            <div class="col-10">
                @Html.TextAreaFor(i => i.Note, new { @class = "form-control", rows = "5" })
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","Input")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>



@section Scripts{

    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true   ,
            dir: "rtl",
        });



    </script>
    <script type="text/javascript">

        function GetAccount1(ClientId) {
            ClientId = ClientId ? ClientId : 0;

            $.ajax
                ({
                    url: '/Input/GetAccount',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: ClientId
                    }),
                    success: function (result) {
                       
                        $("#FromAccountID").html("");
                        $.each((result), function (i, edu) {

                            $("#FromAccountID").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }
        function GetAccount2(ClientId) {
            ClientId = ClientId ? ClientId : 0;

            $.ajax
                ({
                    url: '/Input/GetAccount',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: ClientId
                    }),
                    success: function (result) {

                        $("#ToAccountID").html("");
                        $.each((result), function (i, edu) {

                            $("#ToAccountID").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }
    </script>
}
