﻿
@model IEnumerable<Safety.VM.VM.TransActionVM>
@{
    Layout = null;
}

@if (Model != null)
{
    if (User.IsInRole("Admin"))
    {

        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive">
                    <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                        <thead style="background-color:#3bafda;color:white;">
                            <tr>
                                <th>رقم العملية</th>
                                <th>  من </th>
                                <th>رقم الحساب </th>
                                <th>الى  </th>
                                <th>رقم الحساب </th>
                                <th>تاريخ العملية  </th>
                                <th>المبلغ  </th>


                                @*<th></th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TransCode</td>
                                    <td>@item.ClientFromName</td>
                                    <td>@item.FromAccountName</td>
                                    <td>@item.ClienttoName</td>
                                    <td>@item.ToAccountName</td>
                                    <td>@item.TransDate</td>
                                    <td>@item.Amount</td>


                                    @*<td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>*@

                                    <td>
                                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete('@item.ID','@item.FromAccountName','@item.ToAccountName','@item.Amount')">  <i class="ti-trash"></i></button>

                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    }
    <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


    </script>




