﻿
@model Safety.VM.VM.AccountsFM



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "Accounts", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.ID);

        <div class="form-group row">
            <label class="col-2 col-form-label">رقم الحساب</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.AccountNo, new { @class = "form-control", oninvalid = "this.setCustomValidity('من فضلك ادخل هنا')", oninput = "setCustomValidity('')", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الرصيد الحالي</label>
            <div class="col-10">
                <span class="form-control">@Model.CurrentAmount</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">نوع الحساب </label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.AccountTypeID, (List<SelectListItem>)ViewBag.AccountTypeList, new
                {
                    @class = "form-control select2"
                    
                })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">اسم العميل  </label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.ClientID, (List<SelectListItem>)ViewBag.ClientList, new
                {
                    @class = "form-control select2"
                    
                })
            </div>
        </div>



        <div class="form-group row">
            <label class="col-2 col-form-label">نشط</label>
            <div class="col-10">
                @Html.CheckBoxFor(i => i.IsActive, new { data_plugin = "switchery", data_color = "#3bafda", data_switchery = "true" })
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","Accounts")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>



@section Scripts{

    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true   ,
            dir: "rtl",
        });



    </script>
    <script type="text/javascript">


    </script>
}
