﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon_1.ico">

    <title>الامانات</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    @*<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link href="~/assets/css/AR/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/AR/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style_dark.css" rel="stylesheet" type="text/css">

    @*<link href="~/assets/css/AR/style.css" rel="stylesheet" type="text/css">*@


    <script src="~/assets/js/modernizr.min.js"></script>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />


</head>


                <body class="fixed-left">

                    <!-- Begin page -->
                    <div id="wrapper">

                        <!-- Top Bar Start -->
                        <div class="topbar">

                            <!-- LOGO -->
                            <div class="topbar-left">
                                <div class="text-center">
                                    <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span></span></a>
                                </div>
                            </div>

                            <!-- Button mobile view to collapse sidebar menu -->
                            <nav class="navbar-custom">

                                <ul class="list-inline float-right mb-0">
                                    <li class="list-inline-item notification-list hide-phone">
                                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                                            <i class="mdi mdi-crop-free noti-icon"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item dropdown notification-list">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                           aria-haspopup="false" aria-expanded="false">


                                        </a>

                                    </li>
                                    <li class="list-inline-item dropdown notification-list">
                                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                                           aria-haspopup="false" aria-expanded="false">
                                            <i class="mdi mdi-bell noti-icon"></i>
                                            <span class="badge badge-pink noti-icon-badge"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                                            <!-- item-->
                                            <div class="dropdown-item noti-title">
                                                <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                                            </div>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                                <p class="notify-details">Robert S. Taylor commented on Admin<smIndex1 class="text-muted">1 min ago</smIndex1></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                                <p class="notify-details">New user registered.<smIndex1 class="text-muted">1 min ago</smIndex1></p>
                                            </a>

                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                                <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><smIndex1 class="text-muted">1 min ago</smIndex1></p>
                                            </a>

                                            <!-- Index1-->
                                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-Index1">
                                                View Index1
                                            </a>

                                        </div>
                                    </li>



                                    <li class="list-inline-item dropdown notification-list">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                                           aria-haspopup="false" aria-expanded="false">
                                            <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                                            <!-- item-->
                                            @Html.Partial("_LoginPartial")

                                        </div>
                                    </li>

                                </ul>

                                <ul class="list-inline menu-left mb-0">
                                    <li class="float-left">
                                        <button class="button-menu-mobile open-left waves-light waves-effect">
                                            <i class="mdi mdi-menu"></i>
                                        </button>
                                    </li>

                                </ul>

                            </nav>

                        </div>

                        <div class="left side-menu">
                            <div class="sidebar-inner slimscrollleft">
                                <!--- Divider -->
                             @if(User.IsInRole("Admin"))
                             {
                                <div id="sidebar-menu">

                                    <ul>


                                        <li>
                                            <a href="/" class="waves-effect waves-primary" onclick="$('#pleasewait').fadeIn();">
                                                <i class="ti-home"></i><span> الصفحة الرئيسية </span>
                                            </a>
                                        </li>

                                        <li class="menu-title">التعريفات</li>

                                        <li class="has_sub">
                                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                                <i class="ti-user"></i> <span> العملاء </span>
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="list-unstyled">
                                                <li><a href="/Client/Create/" onclick="$('#pleasewait').fadeIn();">اضافة</a></li>
                                                <li><a href="/Client/Index1" onclick="$('#pleasewait').fadeIn();">عرض الكل</a></li>
                                            </ul>
                                        </li>

                                        <li class="has_sub">
                                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                                <i class="ti-id-badge"></i> <span> الحسابات </span>
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="list-unstyled">
                                                <li><a href="/Accounts/Create" onclick="$('#pleasewait').fadeIn();">اضافة</a></li>
                                                <li><a href="/Accounts/Index1" onclick="$('#pleasewait').fadeIn();">عرض الكل</a></li>
                                            </ul>
                                        </li>

                                        <li class="has_sub">
                                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                                <i class="ti-layers-alt"></i> <span> أنواع الحسابات </span>
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="list-unstyled">
                                                <li><a href="/AccountType/Create" onclick="$('#pleasewait').fadeIn();">اضافة</a></li>
                                                <li><a href="/AccountType/Index1" onclick="$('#pleasewait').fadeIn();">عرض الكل</a></li>
                                            </ul>
                                        </li>

                                        <li class="has_sub">
                                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                                <i class="ti-key"></i> <span> المدراء </span>
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="list-unstyled">
                                                <li><a href="/Account/Register" onclick="$('#pleasewait').fadeIn();">اضافة</a></li>
                                                <li><a href="/Account/Index1" onclick="$('#pleasewait').fadeIn();">عرض الكل</a></li>
                                            </ul>
                                        </li>

                                        <li class="has_sub">
                                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                                <i class="ti-lock"></i> <span> صلاحيات المدراء </span>
                                                <span class="menu-arrow"></span>
                                            </a>
                                            <ul class="list-unstyled">
                                                <li><a href="@Url.Action("Index1", "RoleGroup")" onclick="$('#pleasewait').fadeIn();">مجموعات المدراء</a></li>
                                                <li><a href="@Url.Action("Create", "RoleGroup")" onclick="$('#pleasewait').fadeIn();"> اضافة</a></li>
                                                <li><a href="@Url.Action("UserRole", "RoleGroup")" onclick="$('#pleasewait').fadeIn();">   صلاحية المستخدم</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu-title">العمليات</li>

                                        <li>
                                            <a href="/InPut/Index1" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-arrow-down"></i><span> الايداع </span></a>
                                        </li>
                                        <li>
                                            <a href="/OutPut/Index1" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-arrow-up"></i><span> السحب </span></a>
                                        </li>

                                        <li>
                                            <a href="/Transaction/Index1" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-exchange-vertical"></i><span> التحويل </span></a>
                                        </li>


                                        <li class="menu-title">التقارير</li>


                                        <li>
                                            <a href="@Url.Action("BankIncome", "Report")" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-printer"></i><span> ارباح البنك </span></a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("DeptAccounts", "Report")" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-printer"></i><span> أرصدة الحسابات </span></a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("TransActionDetails", "Report")" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-printer"></i><span> حركات الايداع والسحب </span></a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("TransActionReport", "Report")" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-printer"></i><span> حركه التحويلات </span></a>
                                        </li>

                                        <li>
                                            @*<a href="/ACBalance/ShowInfo?AccountTypeID=0&ClientID=@Setting.GetBoxClient().ID" target="_blank" class="waves-effect waves-primary"><i class="ti-printer"></i><span> رصيد الصندوق </span></a>*@
                                        </li>

                                        <li>
                                            <a href="@Url.Action("AccountStatement", "Report")" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-printer"></i><span> كشف حساب </span></a>
                                        </li>

                                    </ul>



                                    <div class="clearfix"></div>
                                </div>
                             }
                             else if(User.IsInRole("User"))
                             {
                                 <div id="sidebar-menu">

                                     <ul>


                                         <li>
                                             <a href="/" class="waves-effect waves-primary" onclick="$('#pleasewait').fadeIn();">
                                                 <i class="ti-home"></i><span> الصفحة الرئيسية </span>
                                             </a>
                                         </li>

                                         <li class="menu-title">العمليات</li>

                                         <li>
                                             <a href="/InPut/Create" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-arrow-down"></i><span> الايداع </span></a>
                                         </li>
                                         <li>
                                             <a href="/OutPut/Create" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-arrow-up"></i><span> السحب </span></a>
                                         </li>

                                         <li>
                                             <a href="/Transaction/Create" onclick="$('#pleasewait').fadeIn();" class="waves-effect waves-primary"><i class="ti-exchange-vertical"></i><span> التحويل </span></a>
                                         </li>





                                     </ul>



                                    <div class="clearfix"></div>
                                </div>
                                         }

                                         else if (User.IsInRole("Client"))
                                         {
                                  
                                 <div id = "sidebar-menu">



                                     <ul>




                                         <li>


                                             <a href="/" class="waves-effect waves-primary" onclick="$('#pleasewait').fadeIn();">
                                                 <i class="ti-home"></i><span> الصفحة الرئيسية</span>
                                             </a>
                                         </li>

                                         <li class="menu-title">التعريفات</li>

                                         <li class="has_sub">
                                             <a href="javascript:void(0);" class="waves-effect waves-primary">
                                                 <i class="ti-user"></i> <span> العملاء </span>
                                                 <span class="menu-arrow"></span>
                                             </a>
                                             <ul class="list-unstyled">
                                                 <li><a href="/Client/Create/" onclick="$('#pleasewait').fadeIn();">اضافة</a></li>
                                                 <li><a href="/Client/Index1" onclick="$('#pleasewait').fadeIn();">عرض الكل</a></li>
                                             </ul>
                                         </li>





                                     </ul>



                                    <div class="clearfix"></div>
                                </div>
                             }
                             
                                <div class="clearfix"></div>
                            </div>
                        </div>


                        <!-- Left Sidebar End -->
                        <!-- ============================================================== -->
                        <!-- Start right Content here -->
                        <!-- ============================================================== -->
                        <div class="content-page">
                            <!-- Start content -->
                            <div class="content">
                                <div class="container-fluid">

                                    @RenderBody()

                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- End Right content here -->
                        <!-- ============================================================== -->
                        <!-- Right Sidebar -->
                        <!-- /Right-bar -->

                    </div>
                    <!-- END wrapper -->



                    <script>
                        var resizefunc = [];
                    </script>


                    <!-- Plugins  -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                    @*<script src="~/assets/js/jquery.min.js"></script>*@



                    @*<script src="~/assets/js/jquery.min.js"></script>*@

                    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
                    <script src="~/assets/js/bootstrap.min.js"></script>
                    <script src="~/assets/js/detect.js"></script>
                    <script src="~/assets/js/fastclick.js"></script>
                    <script src="~/assets/js/jquery.slimscroll.js"></script>
                    <script src="~/assets/js/jquery.blockUI.js"></script>
                    <script src="~/assets/js/waves.js"></script>
                    <script src="~/assets/js/wow.min.js"></script>
                    <script src="~/assets/js/jquery.nicescroll.js"></script>
                    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
                    <script src="~/plugins/switchery/switchery.min.js"></script>

                    <script src="~/Scripts/jquery-ui.min.js"></script>
                    <script src="~/Scripts/jquery.extention.js"></script>
                    <script src="~/Scripts/toastr.min.js"></script>

                    <!-- Required datatable js -->
                    @*<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
            <!-- Buttons examples -->
            <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
            <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
            <script src="~/plugins/datatables/jszip.min.js"></script>
            <script src="~/plugins/datatables/pdfmake.min.js"></script>
            <script src="~/plugins/datatables/vfs_fonts.js"></script>
            <script src="~/plugins/datatables/buttons.html5.min.js"></script>
            <script src="~/plugins/datatables/buttons.print.min.js"></script>
            <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
            <!-- Responsive examples -->
            <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
            <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>*@



                    @*-----------------------------------------Start DataTable------------------------------------------------*@

                    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
                    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

                    <script src="~/plugins/select2/js/select2.min.js" type="text/javascript"></script>

                    <!-- Required datatable js -->
                    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
                    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
                    <!-- Buttons examples -->
                    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
                    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
                    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
                    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
                    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
                    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
                    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
                    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
                    <!-- Responsive examples -->
                    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
                    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
                    @*-----------------------------------------End DataTable------------------------------------------------*@

                    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
                    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
                    <!-- Counter Up  -->
                    <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
                    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

                    <!-- circliful Chart -->
                    <script src="~/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
                    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>



                    <!-- skycons -->
                    <script src="~/plugins/skyicons/skycons.min.js" type="text/javascript"></script>

                    <!-- Page js  -->
                    <script src="~/assets/pages/jquery.dashboard.js"></script>

                    <script src="~/plugins/custombox/dist/custombox.min.js"></script>
                    <script src="~/plugins/custombox/dist/legacy.min.js"></script>
                    <!-- Custom main Js -->
                    <script src="~/assets/js/jquery.core.js"></script>
                    <script src="~/assets/js/jquery.app.js"></script>



                    @RenderSection("scripts", required: false)



                    <script type="text/javascript">
                        jQuery(document).ready(function ($) {
                            $('.counter').counterUp({
                                delay: 100,
                                time: 1200
                            });
                            $('.circliful-chart').circliful();
                        });

                        // BEGIN SVG WEATHER ICON
                        if (typeof Skycons !== 'undefined') {
                            var icons = new Skycons(
                                { "color": "#3bafda" },
                                { "resizeClear": true }
                            ),
                                list = [
                                    "clear-day", "clear-night", "partly-cloudy-day",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                            for (i = list.length; i--;)
                                icons.set(list[i], list[i]);
                            icons.play();
                        };

                    </script>


                </body>
            </html>






        





