﻿
@model Safety.VM.VM.ClientVM



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "Client", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.ID);

        @Html.HiddenFor(i => i.ID)
        @Html.HiddenFor(i => i.IDPhoto1)
        @Html.HiddenFor(i => i.IDPhoto2)

       
        <div class="form-group row">
            <label class="col-2 col-form-label">اسم العميل</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.FullName, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">العنوان</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Address, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الموبايل</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Mobile, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(i => i.Mobile)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">البريد الاليكتروني</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Email, new { @class = "form-control", @type = "email" })
                @Html.ValidationMessageFor(i => i.Email)
            </div>
        </div>
        @*<div class="form-group row">
            <label class="col-2 col-form-label">تاريخ الاشتراك</label>
            <div class="col-10">
                <div class=" input-group">
                    <input type="text" name="StartDate" required id="StartDate" class="form-control" value="@Model.StartDate" />

                </div>
            </div>
        </div>*@
        <div class="form-group row">
            <label class="col-2 col-form-label">نشط</label>
            <div class="col-10">
                @Html.CheckBoxFor(i => i.IsActive, new { data_plugin = "switchery", data_color = "#3bafda", data_switchery = "true" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">ملاحظات</label>
            <div class="col-10">
                @Html.TextAreaFor(i => i.Note, new { @class = "form-control", rows = "5" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">صورة البطاقة 1</label>
            <div class="col-10">
                @Html.TextBoxFor(m => m.IDPhoto1, new { type = "file" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">صورة البطاقة 2</label>
            <div class="col-10">
                @Html.TextBoxFor(m => m.IDPhoto2, new { type = "file" })
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","Client")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>


<script>
            $(function () {
                $("#StartDate").datepicker().datepicker("setDate", new Date());

            });
</script>
